@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root {
    --main-color: #28bbf5;
    --color-dark: #1d2231;
    --text-white: #fdfdfd;
}
.sidebar{
    padding: 0.5rem 0rem 0rem 0.5rem;
}
.sidebar h2{
    background: var(--main-color);
    font-size: 4rem;
    color: var(--text-white);
    border-radius: .5rem;
    width: 340px;
    text-align: center;
}
.material-icons-outlined {
    padding:rem 0rem 0rem 0rem;
    color: rgba(35, 13, 231, 0.884);
    background: rgba(93, 94, 161, 0.493);
    border-radius: 3rem;
    font-size: 48px;
}